<center>
<%= form_for(:comment, html: {method: :post, action: "create"}) do |form| %>

    <div class="form-group">
      <%= form.text_area :body, class: "form-control" %>
    </div>


     <div class="actions">
      <%= form.submit "Créer un commentaire", class:"a-93 a-btn a-btn-orange" %>
    </div>

    <%end%>

    </center>
