<div class="h1">
<h1>Fonctionnement d'Emporte-moi</h1>
</div>
<div class="div2"
<p>Comment les offres sont-elles classées dans nos comparaisons ?


Les offres affichées dans nos comparaisons sont classées en appliquant les critères suivants : <p>
</div>
<div class="div3"
<ul>

<li>Prix : C’est le critère principal utilisé pour classer les vols et voitures de location au sein des pages de résultats et pour classer les offres des fournisseurs référencés pour le même vol, le même hôtel, la même voiture ou le même séjour ;
</li>
<li>
 Recommandations : C’est le critère utilisé pour classer les hôtels. L'algorithme utilisé pour formuler les recommandations prend en compte les prix, la popularité, la qualité et le revenu généré. Ce critère peut aussi être choisi pour classer les vols.
</li>
<li>
 Popularité : C’est le critère utilisé pour classer les séjours Vol+Hôtel. Nous nous basons sur des données historiques pour déterminer la probabilité qu’un utilisateur choisisse un résultat en particulier.
</li>
<li>
 Rémunération : La rémunération reçue par KAYAK est utilisée comme critère pour départager des offres ayant le même prix arrondi à l’euro supérieur ainsi que pour sélectionner les offres affichées en premier par rapport aux offres visibles après sélection du bouton « Choisir », « Voir l’offre», « Plus » ou similaire.
</li>
<li>
 Qualité, préférence ou déclassement : Certains fournisseurs référencés qui, à notre opinion, fournissent un service particulièrement bon sont marqués et privilégiés dans le classement. Nous prenons pour cela en compte l'exactitude des prix, y compris selon le mode de paiement utilisé, et la satisfaction des clients. Inversement, certaines offres pour lesquelles nous ne disposons pas de toutes les informations, par exemple les prix correspondant à chaque type de paiement, sont déclassées et marquées.
</li>
<li>
 Avis des utilisateurs : Vous pouvez choisir ce critère de classement, qui regroupe les avis d’utilisateurs reçus par nos partenaires cités dans les informations détaillées.
</li>
<li>
 Filtres présélectionnés : Nous appliquons certains filtres pour éviter de montrer des options de voyages qui nous semblent peu intéressantes, par exemple des vols avec escales particulièrement longues. Vous pouvez désactiver ces filtres présélectionnés ;
</li>
<li>
 Filtres utilisateurs : Nous mettons à votre dispositions des filtres qui vous permettent de cacher certaines offres. Ces filtres sont sauvegardés pour votre prochaine visite, tant que vous restez connecté à votre compte KAYAK ou que vous avez accepté nos cookies.
</li>
</ul>
</div>




<!-- Footer -->
<section class="section-padding footer bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h4 class="mb-5 mt-0"><a class="logo" href="index.html"><img src="assets/img/logo-footer.png" alt="Groci"></a></h4>
            <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone"></i> 06 36 65 65 65</a></p> 
            <p class="mb-0"><a class="text-success" href="#"><i class="mdi mdi-email"></i> nicolaslucain@gmail.com</a></p>
            <p class="mb-0"><a class="text-primary" href="#"><i class="mdi mdi-web"></i> nicolebgdu44.fr</a></p>
         </div>
      </div>
   </div>
</section>

<section class="pt-4 pb-4 footer-bottom">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-lg-6 col-sm-6">
	        <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by THP-nantes</small>
         </div>
      </div>
   </div>
</section>
