<div class=h1>
<h1> Nous contacter </h1>
</div>
<div class="div1-contact">
<ul>

<li>
Emporte-moi 
</br>Mail

</li>
</ul>
</div>




















<!-- Footer -->
<section class="section-padding footer bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h4 class="mb-5 mt-0"><a class="logo" href="index.html"><img src="assets/img/logo-footer.png" alt="Groci"></a></h4>
            <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone"></i> 06 36 65 65 65</a></p>
            <p class="mb-0"><a class="text-success" href="#"><i class="mdi mdi-email"></i> nicolaslucain@gmail.com</a></p>
            <p class="mb-0"><a class="text-primary" href="#"><i class="mdi mdi-web"></i> nicolebgdu44.fr</a></p>
         </div>
      </div>
   </div>
</section>

<section class="pt-4 pb-4 footer-bottom">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-lg-6 col-sm-6">
	        <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by THP-nantes</small>
         </div>
      </div>
   </div>
</section>
