
    <div class="card account-left">
        <div class="user-profile-header">
            <h5 class="mb-1 text-secondary"> <%= @user.nom %></h5>
            <%= image_tag @user.image_profile %>
            <p> <%= show_num(@user.téléphone) %></p>
        </div>
    </div>
        <h3>Comments</h3>
        <%= render partial: 'comments/form' %>