

 
 <section class="shop-list section-padding">
    <div class="container">
       <div class="row">
          <div class="col-md-3">
              <div class="shop-filters">
                 <div id="accordion">
                    <div class="card">
                       <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                             <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Category <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body card-shop-filters">
                             <form class="form-inline mb-3">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Search By Category">
                                </div>
                                <button type="submit" class="btn btn-secondary ml-1">GO</button>
                             </form>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb1">
                                <label class="custom-control-label" for="cb1">All Fruits </label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb8">
                                <label class="custom-control-label" for="cb8">Fresh & Herbs <span class="badge badge-primary">5% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb2">
                                <label class="custom-control-label" for="cb2">Seasonal Fruits <span class="badge badge-secondary">NEW</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb3">
                                <label class="custom-control-label" for="cb3">Imported Fruits <span class="badge badge-danger">10% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb4">
                                <label class="custom-control-label" for="cb4">Citrus <span class="badge badge-info">50% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb5">
                                <label class="custom-control-label" for="cb5">Cut Fresh & Herbs</label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb6">
                                <label class="custom-control-label" for="cb6">Seasonal Fruits <span class="badge badge-success">25% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb7">
                                <label class="custom-control-label" for="cb7">Fresh & Herbs <span class="badge badge-primary">5% OFF</span></label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             Price <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body card-shop-filters">
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="1">
                                <label class="custom-control-label" for="1">$68 to $659 <span class="badge badge-warning">50% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="2">
                                <label class="custom-control-label" for="2">$660 to $1014</label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="3">
                                <label class="custom-control-label" for="3">$1015 to $1679</label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="4">
                                <label class="custom-control-label" for="4">$1680 to $1856</label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             Brand <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body card-shop-filters">
                             <form class="form-inline mb-3">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Search By Brand">
                                </div>
                                <button type="submit" class="btn btn-secondary ml-2">GO</button>
                             </form>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b1">
                                <label class="custom-control-label" for="b1">Imported Fruits <span class="badge badge-warning">50% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b2">
                                <label class="custom-control-label" for="b2">Seasonal Fruits <span class="badge badge-secondary">NEW</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b3">
                                <label class="custom-control-label" for="b3">Imported Fruits <span class="badge badge-danger">10% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b4">
                                <label class="custom-control-label" for="b4">Citrus</label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                             Imported Fruits <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                             <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">All Fruits</a>
                                <a href="#" class="list-group-item list-group-item-action">Imported Fruits</a>
                                <a href="#" class="list-group-item list-group-item-action">Seasonal Fruits</a>
                                <a href="#" class="list-group-item list-group-item-action">Citrus</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Cut Fresh & Herbs</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="left-ad mt-4">
                 <img class="img-fluid" src="http://via.placeholder.com/254x557" alt="">
              </div>
           </div>
          <div class="col-md-9">
             <a href="#"><img class="img-fluid mb-3" src="img/shop.jpg" alt=""></a>
             <div class="shop-head">
                <a href="#"><span class="mdi mdi-home"></span> Home</a> <span class="mdi mdi-chevron-right"></span> <a href="#">Fruits & Vegetables</a> <span class="mdi mdi-chevron-right"></span> <a href="#">Fruits</a>
                <div class="btn-group float-right mt-2">
                   <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Sort by Products &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </button>
                   <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Relevance</a>
                      <a class="dropdown-item" href="#">Price (Low to High)</a>
                      <a class="dropdown-item" href="#">Price (High to Low)</a>
                      <a class="dropdown-item" href="#">Discount (High to Low)</a>
                      <a class="dropdown-item" href="#">Name (A to Z)</a>
                   </div>
                </div>
                <h5 class="mb-3">Fruits</h5>
             </div>
             <div class="row no-gutters">
               
       </div>
    </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>