// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.block-shearch{
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(233, 97, 37), orange);
}
div.search{
    display: flex;
    justify-content: center;
}
.search{
    padding-top: 10px;
    width: 30%;
}
.profil {
  width: 100% !important;
}
input#titre.input-search{
  width: 300px;
  height: 45px; 
}
.logo-nav {
  width: 100px;
}

div.logo-profile{				
    float:left;
    width: 100px;

    }
  