<section class="carousel-slider-main text-center border-top border-bottom bg-white">
   <div class="owl-carousel owl-carousel-slider">
     <% Plat.all.each do |plat| %>
      <div class="item">
         <a href=""> <%= image_tag plat.photo_plat, style: "width:300px; height:200px;" %></a>
      </div>
      <% end %>
   </div>
</section>
