<section class="carousel-slider-main text-center border-top border-bottom bg-white">
   <div class="owl-carousel owl-carousel-slider">
     <% Plat.all.each do |plat| %>
      <div class="item">
       <%= link_to plat_path(id: plat.id) do %>
        <%= image_tag plat.photo_plat, style: "width:800px; height:500px;object-fit:cover;" %>
       <% end %>
      </div>
     <% end %>
   </div>
</section>
