		<!-- UI # -->
		
		<div class="ui-138 a-bg-orange">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6 col-sm-6">
						
						<!-- Contact form -->
						<div class="contact-form">
							<h2>Contact Form</h2>
							<form>
								<!-- Name -->
								<div class="form-group">
									<input type="name" class="form-control" placeholder="Enter Name">
								</div>
								<!-- Email -->
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Enter Email">
								</div>
								<!-- Matter -->
								<div class="form-group">
									<textarea class="form-control" rows="5" placeholder="Enter Message"></textarea>
								</div>
								<!-- Button -->
								<button type="submit" class="btn">Submit</button> &nbsp; 
								<button type="reset" class="btn">Reset</button>
							</form>
						</div>
						
					</div>
					<div class="col-md-6 col-sm-6">
						
						<!-- Contact details -->
						<div class="contact-details">
							<h2>Contact Details</h2>
							<!-- Email -->
							<h3><a href="#"><i class="fa fa-envelope"></i> &nbsp; something@gmail.com</a></h3>
							<!-- Phone -->
							<h3><a href="#"><i class="fa fa-phone"></i> &nbsp; +39-392-492-4929</a></h3>
							<!-- Website -->
							<h3><a href="#"><i class="fa fa-globe"></i> &nbsp; www.something.com</a></h3>
							
							<!-- Social media -->
							<div class="social">
								<a href="#"><i class="fab fa-facebook"></i></a> &nbsp; 
								<a href="#"><i class="fa fa-twitter"></i></a> &nbsp; 
								<a href="#"><i class="fa fa-linkedin"></i></a> &nbsp; 
								<a href="#"><i class="fa fa-google-plus"></i></a> 
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
			<!-- Navigation menu end -->
		</div>
		<!-- Navigation Menu Button -->
		<div class="menu-btn">
			<a href="#" class="a-bg-orange">Contact <i class="mdi mdi-email"></i></a>
		</div>
		
		<script>
		
			/* Menu Slide JS  */

			$(document).ready(function(){
				$(".menu-btn").on('click',function(e){
				  e.preventDefault();
					
					//Check this block is open or not..
				  if(!$(this).prev().hasClass("open")) {
					$(".ui-138").slideDown(400);
					$(".ui-138").addClass("open");
					$(this).find("i").removeClass().addClass("fa fa-chevron-up");
				  }
				  
				  else if($(this).prev().hasClass("open")) {
					$(".ui-138").removeClass("open");
					$(".ui-138").slideUp(400);
					$(this).find("i").removeClass().addClass("fa fa-chevron-down");
				  }
				});
			}); 
		
		</script>
		
	</body>	
</html>